* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    padding: 15px;
    margin: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

a {
    text-decoration: none;
    font-weight: normal;
    color: blue;
}

a:hover {
    color: lightblue;
}

button {
    border: 0;
    padding: 4%;
    font-weight: bold;
    transition: background-color .2s;
    cursor: pointer;
    border-radius: 3px;
}

textarea, input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid chocolate;
}

textarea:focus, input:focus {
    outline: cornsilk;
    border: 4px solid cornflowerblue;
}

textarea {
    min-width: 20%;
    min-height: 80%;
}

form > div {
    margin-bottom: auto;
}

form label {
    display: block;
}

.myself {
    background-image: url("https://scontent.ffcm1-2.fna.fbcdn.net/v/t1.18169-9/10487260_10154411541230574_6146111060859831982_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=174925&_nc_ohc=0puz5MHHzYQAX_F5rsA&tn=9w6kXSRbv7r-LQDg&_nc_ht=scontent.ffcm1-2.fna&oh=5ca8dded36e2d8c7e6a16a0d26d7826c&oe=60E78D0E");
    min-height: 650px;
    max-height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    
}